
.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#111;
    color:white;

}

.logo{

    font-size:28px;
    font-weight:bold;

}

.search{

    flex:1;
    display:flex;
    justify-content:center;

}

.search input{

    width:50%;
    padding:12px 20px;

    border:none;
    border-radius:50px;

    outline:none;

    font-size:16px;

}

.nav-links{

    display:flex;
    gap:35px;

    list-style:none;

}

.nav-links li{

    cursor:pointer;
    transition:.3s;

}

.nav-links li:hover{

    color:#4da3ff;

}