.similar-foods{

    width:100%;

    margin-top:5rem;

    padding:2rem;

    border-radius:24px;

    background:#101010;

    border:1px solid #252525;

    color:white;

}

.similar-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:2rem;

}

.similar-header h2{

    font-size:2rem;

    margin-bottom:.4rem;

}

.similar-header p{

    color:#8f8f8f;

}

.similar-header button{

    background:none;

    color:white;

    border:1px solid #444;

    padding:.8rem 1.4rem;

    border-radius:999px;

    cursor:pointer;

    transition:.3s;

}

.similar-header button:hover{

    background:white;

    color:black;

}

.food-slider{

    display:flex;

    gap:1.5rem;

    overflow-x:auto;

    scroll-behavior:smooth;

    padding-bottom:1rem;

}

.food-slider::-webkit-scrollbar{

    display:none;

}

.food-card{

    flex:0 0 220px;

    background:#181818;

    border:1px solid #2b2b2b;

    border-radius:22px;

    overflow:hidden;

    transition:.35s;

    cursor:pointer;

}

.food-card:hover{

    transform:translateY(-8px);

    border-color:#666;

}

.food-image{

    height:190px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#202020;

}

.food-image img{

    width:90%;

    height:90%;

    object-fit:contain;

    transition:.35s;

}

.food-card:hover img{

    transform:scale(1.08);

}

.food-info{

    padding:1rem;

}

.food-info h3{

    font-size:1rem;

    margin-bottom:.5rem;

}

.food-info span{

    color:#f6c54f;

    font-weight:600;

}
